################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/AdventOfCode18.vcxproj
/AdventOfCode18.vcxproj.filters
/AdventOfCode18.vcxproj.user
